<div class="row">
  <div class="col-lg-offset-4 col-lg-5">
    <h3><i class="glyphicon glyphicon-hand-right"></i> Les projets <i class="glyphicon glyphicon-hand-left"></i></h3>
  </div>
  <div class="col-lg-12">
    <br/><p><i class="glyphicon glyphicon-search"></i> Recherche :
      <input type="text" ng-model="project.title">
      <br/><br/><a href="#/projects/add"><button class="btn btn-sm btn-primary">Créer un projet</button></a>
    </p>
  </div>
  <div class="col-lg-12">
    <table class="table table-bordered table-hover">
      <tr ng-repeat="project in projects | filter:project">
        <td><a href="#/projects/{{ project.id }}/show"><i class="glyphicon glyphicon-briefcase"></i> {{ project.title }} </a></td>
        <td> {{ project.description}} </td>
        <td><a href="#/projects/{{ project.id }}/edit"><i class="glyphicon glyphicon-edit"></i></a></td>
        <td><a href="" ng-click="delete(project.id)"><i class="glyphicon glyphicon-trash"></i></a></td>
      </tr>
    </table>
  </div>
</div>
